<!-- <div class="list_update"> -->
<%= simple_form_for [@list], action: :update, remote: true do |f|%>

<%#= f.label :name %>
<%= f.text_field :name %>

<%= f.submit "update todo list", class: "edit_list-btn" %>
<% end %>
<!-- </div> -->