	<div class="lists container">
		<%= render current_user.lists %>
	</div>
	<div class="add_list">
		<div class="container ">
			<div class="add_list-btn">
			
			<%= link_to  new_list_path, class: "add_list-text", remote: true do %>
				<i class='fas fa-plus add_list-icon'></i>
				<p>Add TODO List</p>
			<% end %>
			</div>
		</div>
	</div>