<div class="row">
<%#= form_for(@list) do |f| %>
<%= simple_form_for @list, action: :new, remote: true do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.submit "Create todo list"%>
<% end %>
</div>