<body>
  <header class="header">
    <div class="container">
      <h1 class="title">
        SIMPLE TODO LISTS
      </h1>
    </div>
  </header>
  <div class="todo_list">
    <div class="container">
      <div class="title">
        <img src="" alt="" class="title-icon">
        <h2 class="title-text"> 
          Complete the test task for Ruby
        </h2>
        <img src="" alt="" class="title-edit">
        <img src="" alt="" class="title-delete">
      </div>
      <div class="input">
        <img src="" alt="" class="input-add">
        <form action="" class="input_task">
          <input type="text" class="input-text" placeholder="Start typing here to create a task">
          <input type="submit" class="input-btn" value="Add Task">
        </form>
      </div>
      <ul class="tasks">
        <li class="tasks_item">
          <div class="tasks_item-checkbox">
            <input type="checkbox" class="tasks_item-check">
          </div>
          <div class="tasks_item-text">
            <p>Buy a milk</p>
          </div>
          <div class="task_item-modify">
            <div class="task_item-swap"></div>
            <div class="task_item-edit"></div>
            <div class="task_item-delete"></div>
          </div>
        </li>
        <li class="tasks_item">
          <div class="tasks_item-checkbox">
            <input type="checkbox" class="tasks_item-check">
          </div>
          <div class="tasks_item-text">
            <p>Buy a milk</p>
          </div>
          <div class="task_item-modify">
            <div class="task_item-swap"></div>
            <div class="task_item-edit"></div>
            <div class="task_item-delete"></div>
          </div>
        </li>
      </ul>  
    </div>
  </div>
  <div class="add_list">
    <div class="container">
      <div class="add_list-btn">
        <svg class="add_list-svg"></svg>
        <p class="add_list-text"> Add TODO List</p>
      </div>
    </div>
  </div> 
</body>