<!-- <div class="new_task">
	<%#= link_to "New task", new_list_task_path(@list), remote: true %>
</div> -->
<%# p @list %>
<%#= render partial:'tasks/form', locals:{list: @list} %>
<div class="tasks">
	<%# p list.tasks %>
	<%= render list.tasks %>
</div> 
