* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

$blue: #597da3;
body {
  background-color: #f5f5dc;
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 800px;
  margin: 40px auto;
}

.header {
  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
  }
}

.todo_list{
  .title{
    background: rgb(35,34,255) linear-gradient(rgb(35,34,255), rgb(3,1,200));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), 
                inset 0 1px 2px rgba(0,0,0,0), 
                inset 0 0 0 60px rgba(255,255,0,0);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    .title-icon{
      flex-shrink: 0;
      font-size: 30px;
      padding: 0px 10px;
      color: white;
    }
    .title-text{
      color: white;
      padding: 0 5px;
      width: 100%;
    }
    .title-edit{
      font-size: 15px;
      margin-right: 10px;
      opacity: 0;
      color: white;
    }
    .title-delete{
      border-left: 1px solid white;
      padding-left: 15px;
      font-size: 20px;
      opacity: 0;
      color: white;
      margin-right: 20px;
    }
    .edit_list{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      #list_name{
        padding: 0 5px;
        margin-bottom: -1px;
        width: 100%;
        font-size: inherit;
        background-color: rgba(35,34,255,0);
        color: white;
        border-bottom: 1px solid black;
      }
      .edit_list-btn{
        margin: 0 10px;
        padding: 5px 5px;
        border-radius: 7px;
        display: inline-block;
        text-decoration: none;
        user-select: none;
        outline: none;
        border: 1px solid rgb(0,0,0);
        background: rgb(255,255,255) linear-gradient(rgb(255,255,255), rgb(210,210,210));
        box-shadow: inset 0 -2px 1px rgba(0,0,0,0), 
                    inset 0 1px 2px rgba(0,0,0,0), 
                    inset 0 0 0 60px rgba(255,255,0,0);
        transition: box-shadow .2s, border-color .2s;
      }
      .edit_list-btn:hover{
        box-shadow: inset 0 -1px 1px rgba(0,0,0,0), 
                    inset 0 1px 2px rgba(0,0,0,0),
                    inset 0 0 0 60px rgba(255,255,255,.5);
      }
      .edit_list-btn:active{
        box-shadow: inset 0 -1px 1px rgba(0,0,0,.1),
                    inset 0 1px 2px rgba(0,0,0,.3),  
                    inset 0 0 0 60px rgba(210,210,210,.45);
      }
      
    }
  }
  .title:hover{
    .title-edit{
      opacity: 1;
    }
    .title-delete{
      opacity: 1;
    }
  }
  .new_task{
    background-color: #d4d4d4;
    display: flex;
    align-items: center;
    .new_task-add{
      font-size: 30px;
      color: green;
      padding: 0px 10px;
    }
    .new_task-form{
      width: 100%;
      height: 100%;
      padding: 10px 10px 10px 0;
      display: flex;
      margin-left: 5px;
      .new_task-input{
        width: 100%;
        padding: 5px;
        border: 1px solid black;
      }
      .new_task-deadline{
        border: 1px solid black;
        border-left: 0; 
        padding: 5px 0px 5px 5px;
      }
      .new_task-btn{
        width: 150px;
        color: white;
        display: inline-block;
        text-decoration: none;
        user-select: none;
        outline: none;
        border: 1px solid rgb(0,0,0);
        border-left: none;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        background: rgb(61,179,72) linear-gradient(rgb(61,179,72), rgb(18,89,18));
        box-shadow: inset 0 -2px 1px rgba(0,0,0,0), 
                    inset 0 1px 2px rgba(0,0,0,0), 
                    inset 0 0 0 60px rgba(255,255,0,0);
        transition: box-shadow .2s, border-color .2s;
      }
      .new_task-btn:hover{
        box-shadow: inset 0 -1px 1px rgba(0,0,0,0), 
                    inset 0 1px 2px rgba(0,0,0,0),
                    inset 0 0 0 60px rgba(61,179,65,.5);
      }
      .new_task-btn:active{
        box-shadow: inset 0 -1px 1px rgba(0,0,0,.1),
                    inset 0 1px 2px rgba(0,0,0,.3),  
                    inset 0 0 0 60px rgba(18,89,18,.45);
      }
    
  }
}
.tasks{
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.3);
  .tasks_item{
    display: flex;
      // height: 50px;
      // padding: 20px 0px;
      align-items: stretch;
      
      border-bottom: 1px solid rgba(0,0,0,0.3);
      
      .tasks_item-checkbox{
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid rgba(255,0,0,0.3);
        .tasks_item-check{
          border: black;
        }
      }
      
      .tasks_item-text{
        // height: 100%;
        width: 80%;
        border-left: 2px solid rgba(255,0,0,0.3);
        // padding: 10px 0px;
        padding-left: 10px;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-right: 1px solid rgba(0,0,0,0.3);
        .task{
          width: 80%;
          padding: 10px 0;
        }
        .deadline{
          width: 20%;
          // display:none;
          padding: 10px;
          border-left: 1px solid rgba(0,0,0,0.3);
          height: 100%;
          text-align: right;
        }
      }
      .tasks_item-modify{
        // width: 170px;
        width: 20%;
        font-size: 15px;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .fas{
          padding: 0 10px;
          border-right: 1px solid gray;
          color: gray;
        }
        
        .task_item-edit{
          // padding-left: 5px;
          // border-left: 1px solid #000;
        }
        .task_item-delete{
          // padding-left: 5px;
          
          .fas{
           border-right: none; 
         }
       }
     }
     .edit_task{
      width: 100%;
      padding: 10px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      #task_name{
        margin-left: 30px;
        width: 100%;
        border-bottom: 1px solid black;
        margin-right: 10px;
        }
      .deadline{
        border-left: none;
      }
      .update{
        background: rgb(35,34,255) linear-gradient(rgb(35,34,255), rgb(3,1,200));
        box-shadow: inset 0 -2px 1px rgba(0,0,0,0), 
                inset 0 1px 2px rgba(0,0,0,0), 
                inset 0 0 0 60px rgba(255,255,0,0);
        color: white;
        padding: 5px;
        border-radius: 5px;
      }
      .update:hover{
        box-shadow: inset 0 -1px 1px rgba(0,0,0,0), 
                    inset 0 1px 2px rgba(0,0,0,0),
                    inset 0 0 0 60px rgba(35,34,255,.5);
      }
      .update:active{
        box-shadow: inset 0 -1px 1px rgba(0,0,0,.1),
                    inset 0 1px 2px rgba(0,0,0,.3),  
                    inset 0 0 0 60px rgba(3,1,200,.45);
      }
     }
    }
    .tasks_item:hover{
      .tasks_item-modify{
       opacity: 1; 
     }
   }
   .tasks_item:last-child{
    border-bottom: none;
  }
}
}
.add_list{
  .add_list-btn{
    
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 200px;
    height: 40px;
    .add_list-icon{
      font-size: 30px;
      padding-right: 10px;
      color: #02024b;
    }
    .add_list-text{
      background: rgb(35,34,255) linear-gradient(rgb(35,34,255), rgb(3,1,200));
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0), 
                inset 0 1px 2px rgba(0,0,0,0), 
                inset 0 0 0 60px rgba(255,255,0,0);
      display: flex;
      align-items: center;
      color: white;
      margin-left: 10px;
      text-align: center;
      font-weight: bold;
      height: 100%;
      text-align: center;
      padding: 0 10px;
      p{
        margin: auto 0;
      }
    }
    
  }
}

.new_list{
  .new_list-title{
    margin-bottom: 20px;
  }
  .new_list-add{
    display: flex;
    justify-content: space-between;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    .new_list-input{
      width: 80%;
      padding-left: 10px;
    }
    .new_list-btn{
      background-color: green;
      color: white;
      width:20%;
    }
  }
}